<style>
    #crmWebToEntityForm {
        font-family: inherit;
        z-index: 1000;
    }

    #crmWebToEntityForm table {
        width: 50vw !important;
        max-width: 435px !important;
    }

    #crmWebToEntityForm strong {
        font-size: 24px;
        color: #003a6d;
    }

    input[type="text"] {
        width: 50vw !important;
        min-width: 250px !important;
        max-width: 400px !important;
    }

    input[type="submit"], input[type="reset"] {
        color: #fff !important;
        font-size: 16px !important;;
        width: 35% !important;;
        border-radius: 49px !important;;
    }
    .section_wrapper {
        overflow-y: scroll;
    }
</style>

<div style="text-align: center; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; margin-top: 40px; height: 100vh;">
    <script onclick="redirect()"
        src='https://crm.zoho.com/crm/WebFormServeServlet?rid=add4e803febd99bf01a5bafb0bcd29593ab3e52f30111c76467efb4f072cdbb3gidf2e4fa15130fece6f93b23064425808173604c7d5ef2b0e86b3b61793529ee39&script=$sYG'></script>
</div>
<script>
    function redirect() {
        document.location.href = "https://i11nv.com/ndot-online-meeting"
    }
</script>