<head>
     <!-- CSS only -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <!-- JavaScript Bundle with Popper -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
</head>

<style>
     .q-and-a {
          margin-bottom: 40px;
     }

     .accordion-block .btn {
          width: 100%;
          text-align: left;
          background-color: #8d382a;
     }

     .accordion-block .btn:hover {
          background-color: #692a20;
     }

     .card-body {
          margin-bottom: 15px;
     }
</style>

<section class="q-and-a">

     <div class="accordion-block">
          <p>
               <a class="btn btn-primary" data-bs-toggle="collapse" href="#q1" role="button" aria-expanded="false"
                    aria-controls="q1">
                    Q: What is the PEL process?
               </a>
          </p>
          <div class="collapse" id="q1">
               <div class="card card-body">
                    <p>
                         A: The process creates valuables opportunities for stakeholder and public input into the
                         planning process and documentation to streamline next steps in the study as corridor
                         alternatives are developed and evaluated. The I-11 team will evaluate and process all comments
                         received during the PEL study. The PEL process also ensures reasonable transportation corridor
                         alternatives are considered, community input plays a key role, and environmental and community
                         effects are disclosed.
                    </p>
               </div>
          </div>
     </div>

     <div class="accordion-block">
          <p>
               <a class="btn btn-primary" data-bs-toggle="collapse" href="#q2" role="button" aria-expanded="false"
                    aria-controls="q2">
                    Q: Why Was the Eastern Corridor Removed?
               </a>
          </p>
          <div class="collapse" id="q2">
               <div class="card card-body">
                    <p>
                         A: The eastern corridor alternative was dismissed from further consideration for several
                         reasons including potential impact to sensitive environmental resources and protected areas,
                         access, limited mobility, and connectivity, financial feasibility, and public opposition. For
                         more information on this decision, please view the <a
                              href="https://i11nv.com/wp-content/uploads/2021/06/20210607-NDOT-I-11-Final-Draft-ADR-Complete-PDF.pdf"
                              target="_blank">Alternatives Development Report</a>.
                    </p>
               </div>
          </div>
     </div>

     <div class="accordion-block">
          <p>
               <a class="btn btn-primary" data-bs-toggle="collapse" href="#q3" role="button" aria-expanded="false"
                    aria-controls="q3">
                    Q: Will Additional Lanes Be Added to Accommodate Traffic?
               </a>
          </p>
          <div class="collapse" id="q3">
               <div class="card card-body">
                    <p>
                         A: We assessed regional traffic needs for each corridor alternative at a high level that were
                         not accommodated by
                         not provided for by currently planned improvements through the year 2040. A map showing these
                         needs may be viewed at the <a
                              href="https://i11nv.com/wp-content/uploads/2021/08/NDOT-I-11_PEL_Boards_Website_ENGLISH_ADA_Compliant.pdf"
                              target="_blank">the website's resources page</a>. A more detailed traffic analysis to
                         include interchanges and intersections would be performed on the selected I-11 corridor as part
                         of future NEPA studies subject to availability of funds.
                    </p>

               </div>
          </div>
     </div>

     <div class="accordion-block">
          <p>
               <a class="btn btn-primary" data-bs-toggle="collapse" href="#q4" role="button" aria-expanded="false"
                    aria-controls="q4">
                    Q: What Are the Advantages and Disadvantages Of The Two Corridors In The Study?
               </a>
          </p>
          <div class="collapse" id="q4">
               <div class="card card-body">
                    <p>
                         A: This question is a topic of the PEL study process we are presently conducting. The
                         advantages and
                         disadvantages of the two corridor alternatives will be informed, in part, with the input of the
                         public.
                    </p>

               </div>
          </div>
     </div>

     <div class="accordion-block">
          <p>
               <a class="btn btn-primary" data-bs-toggle="collapse" href="#q5" role="button" aria-expanded="false"
                    aria-controls="q5">
                    Q: What is Happening Outside the Las Vegas Area?
               </a>
          </p>
          <div class="collapse" id="q5">
               <div class="card card-body">
                    <p>
                         A: NDOT’s current I-11 studies are currently broken into two segments, the current I-11 PEL
                         study
                         which is only focused on the Las Vegas metropolitan area and another study which involves the
                         area
                         north of Las Vegas called the Northern Nevada Alternatives Analysis. For those wishing for more
                         information on the I-11 outside of the Vegas Valley, visit the website <a
                              href="https://i11nv.com/landing/" target="_blank">landing page</a> which will provide you
                         with
                         background information on both studies. Please click on <strong>learn</strong> more under each
                         project.
                    </p>

               </div>
          </div>
     </div>

     <div class="accordion-block">
          <p>
               <a class="btn btn-primary" data-bs-toggle="collapse" href="#q6" role="button" aria-expanded="false"
                    aria-controls="q6">
                    Q: Why is the work pushed out so far, 8 years? There is so much new funding coming out with the
                    infrastructure bill. Why not get the money now when it is available and cheaper to build?
               </a>
          </p>
          <div class="collapse" id="q6">
               <div class="card card-body">
                    <p>
                         A: Funding for I-11 improvements has yet to be identified. Future funding would be identified
                         following the selection of an I-11 corridor alternative, which is the outcome of this PEL
                         study. The next phase of the study includes National Environmental Policy Act (NEPA) clearance
                         and preliminary engineering during which specific project improvements will be identified,
                         designed, and evaluated for impacts. Following the <a
                              href="https://i11nv.com/environmental/">NEPA process</a> and FHWA approval of a defined
                         project, which is required to access those federal funds, final design and construction would
                         occur.
                    </p>

               </div>
          </div>
     </div>

     <div class="accordion-block">
          <p>
               <a class="btn btn-primary" data-bs-toggle="collapse" href="#q8" role="button" aria-expanded="false"
                    aria-controls="q8">
                    Q: Please identify /define stakeholder?
               </a>
          </p>
          <div class="collapse" id="q8">
               <div class="card card-body">
                    <p>
                         A: To answer your question, a stakeholder is any person, party, or organization interested in
                         the NDOT I-11 PEL study.
                    </p>
               </div>
          </div>
     </div>

     <div class="accordion-block">
          <p>
               <a class="btn btn-primary" data-bs-toggle="collapse" href="#q9" role="button" aria-expanded="false"
                    aria-controls="q9">
                    Q: We are wondering if it is possible to view any preliminary maps developed for the route to Reno,
                    and if you have considered the co-location opportunities with the proposed Greenlink transmission
                    line project.
               </a>
          </p>
          <div class="collapse" id="q9">
               <div class="card card-body">
                    <p>
                         A: Our current I-11 projects are currently broken into two segments; The I-11 Las Vegas
                         Metropolitan PEL Study and the Northern Nevada Alternatives Analysis. This link <a
                              href="https://www.i11nv.com/landing">i11nv.com/landing</a> will provide you easy access to
                         the websites for both projects and if you click on “learn more” under each project, you will be
                         provided detailed information on both projects. Keven Verre is the manager for the Northern NV
                         Study if you want to reach out to NDOT for more information and we will put you in touch. </p>
               </div>
          </div>
     </div>

     <div class="accordion-block">
          <p>
               <a class="btn btn-primary" data-bs-toggle="collapse" href="#q10" role="button" aria-expanded="false"
                    aria-controls="q10">
                    Q: As a resident, what are the expected advantages/disadvantages to the different corridors? Will
                    selection as the I-11 corridor result in more lanes, or just potentially more traffic?
               </a>
          </p>
          <div class="collapse" id="q10">
               <div class="card card-body">
                    <p>
                         A: This question is a topic of the PEL study process we are presently conducting. The
                         advantages and disadvantages of the two corridor alternatives will be informed, in part, with
                         the input of the public that we receive. We assessed regional traffic needs for each corridor
                         alternative at a high level that were not accommodated by currently planned improvements
                         through the year 2040. A map showing these needs may be viewed on the project website's
                         resources page. A more detailed traffic analysis to include interchanges and intersections
                         would be performed on the selected I-11 corridor as part of future NEPA studies subject to the
                         availability of funds. There are some preliminary maps <a
                              href="https://i11nv.com/wp-content/uploads/2021/08/NDOT-I-11_PEL_Boards_Website_ENGLISH_ADA_Compliant.pdf"
                              target="_blank">here</a> if you are interested on pages 5 and 6.
               </div>
          </div>
     </div>

     <div class="accordion-block">
          <p>
               <a class="btn btn-primary" data-bs-toggle="collapse" href="#q11" role="button" aria-expanded="false"
                    aria-controls="q11">
                    Q: If the central route is chosen are you considering a bypass of the spaghetti bowl? For example,
                    an underground tunnel from somewhere after Rainbow and before the Charleston curve as this is a
                    pretty straight section of freeway. In addition, it would ease the already high traffic area allow
                    for increased traffic in the future and would be able to be constructed with very minimal traffic
                    interruptions. Also, it would be a cheaper alternative of creating elevated freeways in an already
                    tight area without having to purchase additional lands around the area to expand the lanes.
               </a>
          </p>
          <div class="collapse" id="q11">
               <div class="card card-body">
                    <p>
                         A: We appreciate your thoughts on the current study and on the location and design elevation
                         considerations for the Central Corridor Alternative including a possible bypass of the
                         Spaghetti Bowl Interchange. The purpose of public outreach for the I-11 PEL is to give the
                         public and people within the affected communities the opportunity to provide input so that NDOT
                         can make the best decisions for all involved parties and your comments warrant thoughtful
                         evaluation prior to making a decision on the corridor.
               </div>
          </div>
     </div>

     <div class="accordion-block">
          <p>
               <a class="btn btn-primary" data-bs-toggle="collapse" href="#q12" role="button" aria-expanded="false"
                    aria-controls="q12">
                    Q: What is the estimated cost per mile on each corridor. I Remember hearing many years ago that it costs $1-2 million per mile so at that cost the western alternative would have an additional cost $6-20 million depending on the last leg route that could be used.
               </a>
          </p>
          <div class="collapse" id="q12">
               <div class="card card-body">
                    <p>
                         A: Costs per mile were computed based on the present cost in dollars to add travel lanes necessary within locations along the respective corridor alternatives based on demand at the year 2040, divided by corridor length in miles.  The approximate costs are estimated at $320M for the Western Corridor Alternative and $406M for the Central Corridor Alternative.  Please note the $320M sum for the Western Corridor Alternative reflects the least cost option which would make use of the existing CC-215/US 95 “Centennial” Interchange.  The need for added travel lanes in the year 2040, costs per mile, and other details were presented at our in-person public information meetings and are also available on the Study website’s <a href="https://i11nv.com/wp-content/uploads/2021/09/20210831_NDOT-I-11-PEL-PIM-Meeting-Presentation-DRAFT-v8.pdf" target="_blank">resources page</a> on slide 9 (Table 5). 
               </div>
          </div>
     </div>



</section>