<div style="text-align: center; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; margin-top: 40px;">
    <h1 style="color: #203165; font-size: 40px;">Thank you for your comment.</h1>
    <p style="font-size: 18px;">To return to the online meeting click <a style="color: #003a6d; font-size: 18px; font-weight: bold;" href="https://i11nv.com/ndot-online-meeting">here</a></p>
</div>